/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18 ago 2021, 22:12:58
    Author     : INTEL
*/

body {
    font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
    font-size: 85%;
    padding: 0;
    margin: 0;
}

.title {
    color: #1166AA;
    margin: 0px;
}

td.details-control {
    background: url(resources/details_open.png) no-repeat right;
    cursor: pointer;
    padding-left: 0px !important;
    padding-right: 20px !important;
}
    
tr.shown td.details-control {
    background: url(resources/details_close.png) no-repeat right center;
}

/* override jquery's user interface (UI) buttonset */ 
.ui-button-text {
    font-size: 90%;
}

/* tabs menu style */
ul {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    border-bottom: 2px solid #79B7E7;
    font-size: 15px;
}

/* li element tab style */
li.tab {
    cursor: pointer;
    border: 2px solid #C5DBEC;
    border-bottom: 0;
    padding: 10px;
    color: #2E6EAA;
}
li.tab:hover {
    background-color: #DFEEF8;
    border-color: #79B7E7;
    border-bottom: 0;
}
li.tab-active {
    background-color: white;
    border-color: #79B7E7;
    border-bottom: 0;
    color: #E2700A;
}

/* style of div that shows the tab content */
#tabsDiv {
    margin-left: 10px;
    margin-right: 10px;
}

/* style of div that holds the selectors fopr table columns */
#selectorsDiv {
    margin-top: 2px;
    margin-bottom: 2px;
}

/* style class of divs that holds the spinning wheel while waiting */
.spinner {
    display: flex;
    justify-content: center;
}

/* style div that holds logos */
#logosDiv {
    margin-top: 15px;
}

.dashboardDiv_coexpRankCompDiv{
    position: relative;
    width: 40%;
    overflow: hidden;
}

.dashboardDiv_coexpRankCompDiv:before{
    content: "";
    display: block;
    padding-top: 100%;
}

.coexpRankCompDiv{
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: white;
    text-align: center;
}
